@import '../../../variables';

form {
    button {
        margin-top: 10px;
        min-width: 130px;

        p {
            width: 100%;
        }
    }
    p {
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        color: #c1c1c1;
        padding: 10px 0 3px;
        margin: 10px 10px 0 10px;
        cursor: pointer;
        border-bottom: 2px dotted transparent;
        transition: all .3s ease;

        &:hover {
            border-bottom-color: $insta-orange;
        }
    }
}