@import '../../variables';

aside {
    position: fixed;
    width: 280px;
    height: 100vh;
    padding: 30px 0;

    .logo-container {
        font-family: 'Pacifico';

        a {
            font-size: 30px;
            color: $dark;
        }
    }

    a {
        text-decoration: none;
    }
}