.profile-viewer {
    text-align: center;
    font-family: NotoSans;

    .viewer-upper {
        p {
            margin: 0;

            &:first-of-type {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            &:last-of-type {
                font-size: 14px;
                opacity: 0.6;
            }
        }
    }
}